.rotate {
  display:none;
  font-size:20px;
  font-family: 'Lora', serif;
  margin-top:10%;
}

p {
  margin-bottom:20px;
  font-family: 'Open Sans', sans-serif;
  margin-left:15px;
}


.main-content {
  width:50%;
  max-width: 50%;
  word-wrap: break-word;
  margin: 20px;
  position:absolute;
  padding: 0 20px 20px;
}

svg {
  position:fixed;
  margin-top: 100px;
  right:20px;
}

svg text {
  font-family: 'Open Sans', sans-serif;
}

h1, h2 {
  font-family: 'Lora', serif;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

@media (max-width: 1025px) {
  .main-content {
    padding: 0 60px 20px 5px;
    margin-left: 0;
  }
  p {
    margin-left: 0;
  }
}
@media (max-width: 370px) {
  .main-content, svg {
    display: none;
  }
  .rotate {
    display:block;
  }
}
@media (max-height: 430px) {
  svg {
    margin-top:0;
    top: 0;
  }
}
