/*
color scheme (light to dark) :
#e8edf3 purplewhite
#e6cf8b yellow
#b56969 red
#22264b purple

#feffff white
#98dafc blue
#daad86 orangebrown
#312c32 brown
*/
body {
  width:100%;
  background:#feffff;
}
.rotate {
  display:none;
  font-size:20px;
  font-family: 'Lora', serif;
  margin-top:10%;
}

p {
  margin-bottom:20px;
  font-family: 'Open Sans', sans-serif;
  margin-left:15px;
}


.main-content {
  width:50%;
  max-width: 50%;
  word-wrap: break-word;
  margin: 20px;
  position:absolute;
  padding: 0 20px 20px;
  color:#312c32;
}

svg {
  position:fixed;
  margin-top: 100px;
  right:20px;
}

.tooltip {
  border-radius:5px;
  position:absolute;
  padding: 3px 8px;
  background: #98dafc;
  color:#feffff;
}

svg text {
  font-family: 'Open Sans', sans-serif;
}

h1, h2 {
  font-family: 'Lora', serif;
  color: #daad86;
}


@media (max-width: 1025px) {
  .main-content {
    padding: 0 60px 20px 5px;
    margin-left: 0;
  }
  p {
    margin-left: 0;
  }
}
@media (max-width: 370px) {
  .main-content, svg {
    display: none;
  }
  .rotate {
    display:block;
  }
}
@media (max-height: 430px) {
  svg {
    margin-top:0;
    top: 0;
  }
}
